/* Default for all projects */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 80%; /* Set it in percentage so the page would be responsive */
  margin: auto; /* To move all to center */
  overflow: hidden; /* If something goes out of the div then i don't want a scroll option. Insatead it must be hidden */
}
ul {
  margin: 0;
  padding: 0; /* By default un-ordered list has padding and margin */
}
.button_1 {
  height: 38px;
  background: #e8491d;
  border: none; /* By default border has border */
  padding-left: 20px;
  padding-right: 20px; /* To make the button wider */
  color: #ffffff;
}
.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px; /* Always use min height instead of height. so it would be responsive*/
  border-bottom: #e8491d 3px solid; /* Orage bottom line */
}
header a {
  color: #ffffff;
  text-decoration: none; /* To remove the underline in link */
  text-transform: uppercase;
  font-size: 16px;
}
header li {
  float: left;
  list-style: none; /* Removes point symbol in front of the list */
  display: inline; /* Makes all the elements in the list in same line */
  padding: 0 20px 0 20px; /* Top right bottom left */
}
header #branding {
  float: left;
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 400px;
  background: url("../images/img1.jpg") no-repeat 0 -300px; /* 0 is for x axis and -300px is for y axis as we want image to move up */
  text-align: center;
  color: #ffffff;
}
#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;
}

/* Newsletter */
#newsletter {
  padding: 15px; /* Makes space on top and bottom of newsletter */
  background: #35424a;
  color: #ffffff;
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 15px;
}
#newsletter input[type="email"] {
  padding: 4px; /* To increase the overall size of the input box(padding) */
  height: 25px;
  width: 250px;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}
#boxes .box {
  float: left;
  width: 30%; /* Percentage as we need it to be responsive */
  padding: 10px;
  text-align: center;
}
#boxes .box img {
  width: 100px; /* To decrease the size of the img */
}

/* Sidebar in about */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* Main-col in about */
article#main-col {
  /* when a article and aside is used write #idname just next to it with no space */
  float: left;
  width: 65%;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}
aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Fotter */
footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Tablets are 768px. when width of the screen is less than 768px these css property would be applied. */
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
  }
  #showcase h1 {
    margin-top: 40px;
  }
  #newsletter button,
  .quote button {
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"],
  .quote input,
  .quote textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}
